<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration>Debug</Configuration>
    <Platform>Any CPU</Platform>
    <PublishDir>C:\Users\butni\AppData\Local\UiPath\app-20.10.0-beta0149\.\Packages</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>net461</TargetFramework>
  </PropertyGroup>
</Project>